body {
	font-size: 20px;
}


table, th, tr, td {
	border: 1px solid;
}

td, th {
	height: 100px;
	width: 100px;
	padding: 5px;
}

td table td {
	height: 45px;
}

.doubleTable {
	text-align: center;
}

.google {
	vertical-align: top;
}

.gitHub {
	vertical-align: top;
	text-align: right;
}

.fb {
	vertical-align: top;
	text-align: center;
}

.youTube {
	vertical-align: bottom;
	text-align: center;
}

.food {
	vertical-align: bottom;
	text-align: right;
}

.game {
	vertical-align: bottom;
	text-align: left;	
}

.beer {
	text-align: right;
	font-size: 30px;

}

.softuni {
	font-size: 60px;
}