body {
	text-align: center;
}

table,td ,th , tr {
	border: 1px solid;
}

table td, table th {
	height: 100px;
	width: 100px;
}

table td table {
	border: none;
}

table td table td {
	height: 45px;
	border: none;
}

table td table td button {
	height: 45px;
}

table th button {
	width: 410px;
	height: 95px;
	font-size: 28px;
	font-weight: bold;
	color: #234465;
}

table th button:hover {
	font-size: 30px;
}

button {
    width: 95px;
    height: 95px;
    font-size: 18px;
}

button:hover {
	font-size:20px;
    cursor:pointer;
}

.google button, .github button, .game button {
	width: 195px;
}

.beer button {
	width: 305px;
}